---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,-altera-*,-misc-no-recursion,-cppcoreguidelines-pro-type-vararg,-hicpp-vararg,-readability-function-cognitive-complexity'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
